@font-face {
    font-family: 'Constantine';
    src: local('Constantine'), url('constantine.woff2') format('woff2'), url('constantine.woff') format('woff'), url('constantine.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
